body{
  font-family: 'Roboto', sans-serif;
  background: #F3F3F3;
}
.pb-50{
  padding-bottom: 50px
}
.pt-50{
  padding-top: 50px
}
.btn-login>ul {
    display: flex;
    float: right;
}

.btn-login>ul>li {
    list-style: none;
}

.menu-top>ul>li {
    list-style: none;
}


.header-top>.container>.row>div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

dl, ol, ul {
    margin-bottom: 0;
    padding-left: 0;
}
.btn-login>ul>li>a {
    display: inline-block;
    color: #fff;
    height: 42px;
    line-height: 39px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #fff0;
    margin-left: 25px;
}

.btn-login>ul>li.login>a {
    background: #038ffe;
}

.btn-login>ul>li.register>a {
    border-color: #002F8A;
    color: #002F8A;
}

.menu-top>ul>li>a {
    color: #262626;
}
.header-top {
    padding: 10px 0;
}
.session-01 {
    background-image: url(img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.session-01>.container>row {
    display: flex;
    align-items: center;
}

.session-01>.container>.row {
    display: flex;
    align-items: center;
}

.session-01 .img-right {
    margin-top: 30px;
}

.session-01 .title-search {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.search-input {
    position: relative;
    max-width: 650px;
}

.search-input button {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 50px;
    width: 108px;
}

.search-input .form-group input {
    height: 56px;
}

.title-com-vn {
    color: #002F8A;
    font-size: 20px;
}
/*menu*/
@media(min-width:992px){
    .vmenu_link .target_show ul.nav-list>li>a>span{
        display: none;
    }
    .vmenu_link .target_show ul.nav-list>li {
        list-style: none;
        flex: auto;
    }
    
    .vmenu_link .target_show ul.nav-list {
        margin-bottom: 0;
        display: flex;
        margin: 0 auto;
        padding: 0;
    }
    
    .vmenu_link .target_show ul.nav-list>li>a {
        color: #fff;
        font-size: 15px;
        padding: 12px 0px;
        text-align: center;
    }
    .vmenu_link .target_show ul.nav-list>li>a>img {
        position: relative;
        top: -3px;
    }
}
.header-menu {
    background: #058FFE;
    position: relative;
}
@media(max-width:992px){
    .vmenu_link .nav-bar .target_show {
      position: absolute;
      background-color: #fff;
      top: 55px;
      left: -30rem;
      height: 100vh;
      width: 30rem;
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      transition: 0.5s ease-out;
      z-index: 999;
      padding: 20px;
    }
    .vmenu_link .toggle >.target_show {
      left: 0;
      box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
    
    }
    .vmenu_link .toggle-menu {
      background-color: rgba(0, 0, 0, 0.2);
      position: relative;
      top: 0;
      left: 0;
      width: 4rem;
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
    }
    .vmenu_link .line {
      width: 100%;
      height: 4px;
      border-radius:5px;
      background-color: #fff;
      transition: 0.2s ease-out;
    }
    .vmenu_link .toggle .line1 {
      background-color: #003f84;
      transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
    }
    .vmenu_link .toggle .line2 {
      display: none;
    }
    .vmenu_link .toggle .line3 {
      background-color: #003f84;
      transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
    }
    
    .vmenu_link .toggle .toggle-menu {
      background-color: white;
    }
    .vmenu_link .nav-list {
      list-style: none;
    }
    .vmenu_link .nav-list-item {
      text-align: left;
      padding: 1rem 0;
    }
    .vmenu_link .nav-link {
      color: #003f84;
      font-size: 16px;
      text-decoration: none;
      position: relative;
      padding-bottom: 0.4rem;
      text-transform: uppercase;
    }
    .vmenu_link .nav-link::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transform: scaleX(0);
      transition: 0.4s ease-in-out;
      transform-origin: left;
    }
    .vmenu_link .nav-link:hover::before {
      transform: scaleX(1);
    }
    .nh-row.landing_menu-header>.container>.row>div {
        display: flex;
    }
    .vmenu_link {
        padding: 12px 0px;
        width: 65px;
    }
    .vmenu_link .nav-link img {
        display: none;
    }
}

/*domain*/
.box-domain, .session-details-domain-names .item-details-domain-names, .item-buy-domain-name {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.box-domain .title-domain, .title-item-details-domain-names {
    height: 105px;
    line-height: 105px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
    background: #038ffe;
    color: #fff;
}

.box-domain .info-domain ul li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.box-domain .info-domain ul li:nth-child(2n+1) {
    background: #00000008;
}

.box-domain .info-domain ul li>span {
    color: #001F5A;
    font-weight: 600;
}

.session-02 {
}

.session-02>.container>.row {
    margin-right: -10px;
    margin-left: -10px;
}

.session-02>.container>.row>div {
    padding: 0 10px;
}

.btn-seemore a {
    display: inline-block;
    height: 36px;
    width: 135px;
    background: #038ffe;
    text-align: center;
    border-radius: 10px;
    line-height: 36px;
    color: #fff;
}

.btn-seemore {
    padding: 20px 0;
    text-align: center;
}

/*why*/
.title-all {
    text-align: center;
    margin-bottom: 40px;
}

.title-all h3 {
    font-size: 32px;
    text-transform: uppercase;
    color: #001F5A;
}

.title-all p {
    color: #001F5A;
    font-size: 16px;
    max-width: 90%;
    margin: 0 auto;
}

.info-why .item-why {
    text-align: center;
    /* background: #fff; */
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.info-why .item-why .icon {
    width: 90px;
    height: 90px;
    background: #D6EDFF;
    border-radius: 100%;
    line-height: 90px;
    margin: 30px auto;
}

.info-why .item-why .title-item-why {
    font-size: 22px;
    color: #002F8A;
    margin-bottom: 20px;
    font-weight: 700;
}

.info-why>.row {
    margin-right: -10px;
    margin-left: -10px;
}

.info-why>.row>div {
    padding: 0 10px;
}

.info-why .item-why p {
    color: #002F8A;
}

.info-why .item-why:hover {
    background: #fff;
}


/*qa*/
.session-04 {
    background: url(img/banner2.png) 0% 0% / cover no-repeat;
    padding: 50px 0px;
}
.title-left-faq {
    font-size: 42px;
    font-weight: 700;
    color: rgb(0, 47, 138);
    line-height: 60px;
}
.item-accordion-faq .title-item-faq {
    margin-bottom: 15px;
    background: aliceblue;
    border-radius: 6px;
}
.item-accordion-faq .title-item-faq button {
    display: block;
    width: 100%;
    text-align: left;
    color: rgb(0, 47, 138);
    font-weight: 500;
    padding: 10px 15px;
    outline: none;
}

/*footer*/
#footer {
    background: #fff;
}
.item-footer>ul>li {
    list-style: none;
    padding: 5px 0;
}

.item-footer .title-footer {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.item-footer>ul>li>a {
    color: #000;
}

.item-footer>ul>li:first-child {
    padding-top: 0;
}
.fanpage-footer .item-fanpage>ul {
    display: flex;
}

.fanpage-footer .item-fanpage>ul>li {
    list-style: none;
    margin-right: 15px;
}
.logo-footer img {
    height: 40px;
}
.logo-footer {
    margin-bottom: 10px;
} 
.form-control:focus{
  box-shadow: none;
}


/* bantenmien */
.title-buy-domain-name {
    background: #038ffe;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.title-buy-domain-name h3 {
    font-size: 32px;
    text-transform: uppercase;
}

.title-buy-domain-name p {
    max-width: 92%;
    margin:  0 auto;
    font-size: 14px;
}
.info-buy-domain-name {
    padding: 40px 50px;
}

.buy-top-radio {clear: both;display: table;margin-bottom: 15px;}

.buy-top-radio .form-check {
    float: left;
    margin-right: 40px;
}

.buy-domain-name-input label {
    color: #002f8a;
    font-weight: 500;
}

.buy-domain-name-input .form-group {
    margin-bottom: 25px;
}

.buy-domain-name-input .form-group input {
    height: 42px;
}
.buy-domain-name-input button.btn.btn-submit {
    height: 42px;
    background: #038ffe;
    color: #fff;
    font-weight: 500;
    padding: 0 30px;
    display: table;
    margin: 0 auto;
}
.buy-domain-name-input .form-group .price {
    display: flex;
    align-items: center;
}

.option-buy-domain select {
    height: 42px;
}
.buy-domain-name-input .form-group .price span {
    padding: 0 10px;
}
.buy-domain-name-input p.note {
    color: #038ffe;
}